body {
    margin: 0;
    background-color: #3274B5;

}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: white;
}

.socialLogo{
    width: 400px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 70px;
}

.header {
    display: flex;
    justify-content: center;
}

.formTitle {
    font-family: Arial, Helvetica, sans-serif;
    color: #3274B5;
}

.signUpBox {
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    box-shadow: 0px 0px 10px #00000081;
    padding: 10px;
    padding-bottom: 30px;
    align-self: c;
    margin-top: 100px;
    height: 330px;
}

.signInBox {
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    box-shadow: 0px 0px 10px #00000081;
    padding: 10px;
    padding-bottom: 30px;
    align-self: c;
    margin-top: 100px;
    height: 260px;
}

.formControl {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-bottom: 10px;
    justify-content: flex-start;
    width: 300px;
}

.formInner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#signInButton {
    height: 35px;
    width: 300px;
    border-radius: 1px;
    background-color: #3274B5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: white;
}

#signUpButton {
    height: 35px;
    width: 300px;
    border-radius: 1px;
    background-color: #3274B5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: white;
}

.signIn {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: black;
}

.signUpText {
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: black;
    position: relative;
}

small {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
    padding-left: 3px;
    font-size: 12px;
    font-weight: 100;
}

input {
    height: 30px;
    font-size: 15px;
    border-radius: 4px;
    border-style: hidden;
}

.nameErr {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: red;
    margin-left: 3px;
}

.passErr {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: red;
    margin-left: 3px;
}

h3{
    margin: 6px;
}